# Dependency directories
node_modules/

# dependencies
package.json
package-lock.json

# testing
/coverage

# production
/build

.github/
/public
.min.js
.min.css

#Dockerfile
.dockerignore
Dockerfile.dev
Dockerfile
docker-compose.yml
docker-compose.dev.yml