# SPDX-FileCopyrightText: 2021 Gaurav Mishra <mishra.gaurav@siemens.com>
# SPDX-FileCopyrightText: 2021 Siemens AG
#
# SPDX-License-Identifier: GPL-2.0
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# version 2 as published by the Free Software Foundation.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

name: Deploy pages

on:
  push:
    branches: [main]

jobs:
  gh-release:
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: 15

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build pages
        run: |
          export PUBLIC_URL=/FOSSologyUI
          yarn build

      - name: Release to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: build
